@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 1rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 40px; /* 48px */
  --font-size-6xl: 3.75rem; /* 60px */
  --font-size-7xl: 4.5rem; /* 72px */
  --font-size-8xl: 6rem; /* 96px */
  --font-size-9xl: 8rem; /* 128px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}
}

body {
  background: #f5f3ed;
  color: var(--foreground);
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: "kingred";
}
@font-face {
  font-family: "kingred";
  src: url("/fonts/kingred.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.text-montserrat {
  font-family: "Montserrat", sans-serif;
}
.text-kingred {
  font-family: "kingred";
}
.text-40 {
  font-size: 40px;
  line-height: 48px;
}
.home-slider .slick-dots{
  position: absolute;
  bottom: 25px;

}
.home-slider .slick-dots li button{
  width: 50px;
  height: 8px;
  border-radius: 50px;
  background: rgba(75, 84, 74, 0.6);
  transition: all 0.3s ease;
  padding: 0px;
}
.home-slider .slick-dots li button:hover {
  background: #ffffff;
}
.home-slider .slick-dots li {
  width: auto;
  height: auto;
  transition: all 0.3s ease;
}
.home-slider .slick-dots li button::before{
  display: none;
}
.home-slider .slick-dots li.slick-active button{
  background: #ffffff;
}
.home-slider .slick-dots li:not(:last-child){
  margin-right: 8px;
}
select option{
  color: #20231E;
}
@media only screen and (max-width:767px) {
  .home-slider .slick-dots li button{
    width: 40px;
  }
}